server:
  port: 8888
spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/berkecftc/educonnect-config-repo.git
          # Yapılandırma dosyalarının olduğu Git deposu
          clone-on-start: true
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false