spring:
  application:
    name: event-service
  main:
    web-application-type: servlet
  config:
    import: "configserver:"
  cloud:
    config:
      uri: http://localhost:8888
      fail-fast: true